


input {
  border: solid 1px var(--color-border);
  background-color: var(--color-background-soft);
  padding: 12px;
  color: var(--color-text);
  border-radius: 4px;

  &:focus {
    outline: solid 1px var(--color-theme);
  }
}

